<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>LockAll</span>
    </mat-toolbar-row>
</mat-toolbar>

  <mat-card class="example-card">
    <mat-form-field>
        <input name="serverIpValidate" #serverIpValidate="ngModel" required pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" (keyup.enter)="connectToServer()" [(ngModel)]='socketio.serverIp' [disabled]="socketio.connectedToServer" matInput placeholder="Server Ip">
      </mat-form-field>
      <mat-form-field>
        <input name="serverPortValidate" #serverPortValidate="ngModel" required pattern="^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$" (keyup.enter)="connectToServer()" [(ngModel)]='socketio.serverPort' [disabled]="socketio.connectedToServer" matInput placeholder="Server Port">
      </mat-form-field>
      <br>
    
      <mat-form-field>
        <input name="nameValidate" #nameValidate="ngModel" (keyup.enter)="connectToServer()" [(ngModel)]='name' required [disabled]="socketio.connectedToServer" matInput placeholder="Name">
      </mat-form-field>
      <br>
    
      <button [disabled]="socketio.connectedToServer || serverIpValidate.invalid || serverPortValidate.invalid || nameValidate.invalid" (click)="connectToServer()" mat-raised-button color="primary">Connect To Websocket server</button>
      <br><br>
    
      <button [disabled]="socketio.clients.length < 1" (click)="toggleLock()" mat-raised-button color="primary">Toggle Vote</button>
      <br>
  </mat-card>
  <br>

  <mat-card class="example-card">
    <mat-table [dataSource]="socketio.dataSourceClient">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.name}} </mat-cell>
      </ng-container>

      <!-- Mac Column -->
      <ng-container matColumnDef="mac">
        <mat-header-cell *matHeaderCellDef> Mac </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.mac}} </mat-cell>
      </ng-container>

      <!-- Vote Column -->
      <ng-container matColumnDef="vote">
        <mat-header-cell *matHeaderCellDef> Vote </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.vote}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>


